<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <style>
    body {
      margin: 0px;
      font-family: "Roboto", sans-serif;
      font-size: 12px !important;
      color: #353740;
      padding: 6px;
    }

    p {
      margin: 0;
    }

    .font-sizes {
      font-size: 12px !important;
    }

    .width100 {
      width: 100%;
    }

    .number_row {
      width: 10%;
      text-align: center;
    }

    .tenant_details,
    .amount_details {
      text-align: justify;
    }

    .receipt_div {
      /* width: 35% !important; */
      margin: auto;
      margin-top: 10px;
      /* padding: 4px; */
      border: 2px solid black;
    }

    .rs_div {
      width: 17%;
    }

    .table {
      border-collapse: collapse;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .outlined {
      border-left: 2px solid black;
    }

    thead,
    tfoot {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }

    td {
      padding: 4px;
    }

    @media only screen and (max-width: 600px) {
      .receipt_div {
        width: 100% !important;
        font-size: 12px;
      }

      .tenant_details,
      .amount_details {
        text-align: start;
      }

      .total-amount-line {
        border-bottom: 2px solid black;
      }
    }

    @media (min-width: 768px) {
      /* .receipt_div {
                width: 80% !important;
            } */

      .total-amount-line {
        border-bottom: 2px solid black;
      }
    }

    .second-table tr,
    .mini-table tr {
      border-bottom: 1px solid gray;
    }

    .mini-table {
      margin-top: 0;
      margin-bottom: 0;
      border-collapse: collapse;
    }
  </style>
</head>

<body>
  <table class="table receipt_div" width="100%" style=" height: 100%;">
    <tbody>
      <tr>
        <td style="padding: 0;">
          <table class="table" width="100%">
            <tbody>
              <tr>
                <td colspan="2">
                  <div>
                    <h2 class="" style="text-align: center; color: red; margin: 5px">
                      J.M. INDUSTRIES
                    </h2>
                    <p class="" style="
                                          text-align: center;
                                          margin: 0;
                                          font-weight: bold;
                                          font-size: 12px;
                                        ">
                      Specialist In :MACHINERY ENGINEERING,PRECISION JOB WORKS
                    </p>

                  </div>

                </td>

              </tr>
              <tr>
                <td colspan="2" style="border-bottom: 2px solid; padding: 4px; text-align: center;">


                  <p class="font-sizes">
                    Gala No 10, Raj Industrial Estate, Plot No A- 423 to A-425, Opp
                    EMCO Company,Road No 28, Wagle Estate Thane -400604
                  </p>



                </td>
              </tr>
              <tr style="border-bottom: none;" width="100%">


                <td width="50%">
                  <div style=" margin-left: 20px">
                    <p class="font-sizes">GST NO:xyzasfgga</p>
                    <p class="font-sizes">Email:xyz@gmail.com</p>
                    <p class="font-sizes">ph: +91123456789</p>
                  </div>

                </td>
                <td>
                  <div>
                    <p class="font-sizes" style="font-weight: bold">Invoice No:123457890</p>
                    <p class="font-sizes" style="font-weight: bold">Invoice Date:15/08/2023</p>
                  </div>
                </td>

              </tr>
              <tr style="border-bottom: none; font-size: 12px;">
                <td width="50%">
                  <table class="table" width="100%" style="margin-left: 15px;">
                    <tbody>
                      <tr>
                        <td>
                          <p style="font-weight: bold;">Billing Address:</p>
                          <p>
                            <%= billingAddress %>
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><b>Tel:</b>
                            <%= billingTel %>
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <p><b>GST No:</b>
                            <%= billingGst %>
                          </p>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>
                <td>
                  <table class="table">
                    <tbody>
                      <tr>
                        <td width="50%">
                          <p style="font-weight: bold;">Delivery Address:</p>
                          <p>
                            <%= deliveryAddress %>
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td>
                          <div>

                            <p><b>Tel:</b>
                              <%= deliveryTel %>
                            </p>

                          </div>
                        </td>
                      </tr>
                      <tr>
                        <td>

                          <p><b>GST No:</b>
                            <%= deliveryGst %>
                          </p>

                        </td>
                      </tr>
                    </tbody>
                  </table>
                </td>

              </tr>


            </tbody>
          </table>
          <table class="table second-table" style="width: 100%; font-size: 12px;">
            <colgroup>
              <col />
              <col class="outlined" />
              <col class="outlined" />
              <col class="outlined" />
              <col class="outlined" />
              <col class="outlined" />
            </colgroup>
            <thead class="table_head" cellpadding="0" cellspacing="0">
              <tr>
                <th class="">Sr. NO</th>
                <th class="">Description of Goods</th>
                <th class="">HSN Code</th>
                <th class="">Quantity</th>
                <th class="">Rate</th>
                <th class="" style="line-height: 30px">AMOUNT</th>
              </tr>
            </thead>
            <tbody>
              <% for (let [index,item] of items.entries()) { %>
                <tr>
                  <td scope="row" class="number_row">
                    <%= index+1 %>
                  </td>
                  <td>
                    <%= item.description %>
                  </td>
                  <td>
                    <%= item.hsnCode %>
                  </td>
                  <td>
                    <%= item.quantity %>
                  </td>
                  <td>
                    <%= item.rate %>
                  </td>
                  <td class="">
                    <%= item.amount %>
                  </td>
                </tr>
                <% } %>
                  <tr>
                    <td colspan="4" style="height: 25px;"></td>
                    <td class="rs_div" colspan="1">Net Total</td>
                    <td class="rs_div" colspan="1">
                      <%= netTotal %>
                    </td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <table style="width: 100%;" cellspacing="0">
                        <colgroup>
                          <col />
                          <col class="outlined" />
                          <col class="outlined" />
                        </colgroup>
                        <tbody>
                          <tr style="border-bottom: none;">
                            <td colspan="4">
                              <p style="font-weight: bold;">Company's Bank Details</p>
                              <p style=" font-weight: bold;">Name: JM INDUSTRIES</p>
                              <p style="display: flex; font-weight: bold;">A/c No.: 344921010000041 </p>
                              <p style="font-weight: bold;">Bank: UNION BANK OF INDIA</p>
                              <p style="font-weight: bold;">Branch: THANE-WAGLE ESTATE</p>
                              <p style="font-weight: bold;">IFSC: UBIN0934496</p>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td class="multiple-table" colspan="1">
                      <table class=" mini-table">
                        <tbody>
                          <tr style="font-size: 12px;  font-weight: bold;">
                            <td class="rs_div" colspan="1">Add : CGST @ 9%</td>
                          </tr>
                          <tr style="font-size: 12px;  font-weight: bold;">
                            <td class="rs_div" colspan="1">Add : SGST @ 9%</td>
                          </tr>
                          <tr style="font-size: 12px;  font-weight: bold;">
                            <td class="rs_div" colspan="1">Add : IGST @ 18%</td>
                          </tr>
                          <tr style="font-size: 12px;  font-weight: bold; border-bottom: none;">
                            <td class="rs_div" colspan="1">Grand Total</td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                    <td colspan="1">
                      <table class="table mini-table">
                        <tbody>
                          <tr>
                            <td class="rs_div" colspan="1">
                              <%= cGst %>
                            </td>
                          </tr>
                          <tr>
                            <td class="rs_div" colspan="1">
                              <%= sGst %>
                            </td>
                          </tr>
                          <tr>
                            <td class="rs_div" colspan="1">
                              <%= iGst %>
                            </td>
                          </tr>
                          <tr style=" border-bottom: none;">
                            <td class="rs_div" colspan="1">
                              <%= grandTotal %>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </td>
                  </tr>
            </tbody>
          </table>
          <table class="table" style="width: 100%; ">
            <tbody style=" font-size: 12px;">
              <tr style="border-bottom: none;">
                <td>
                  <div class="total-amount-line"
                    style="line-height:1.5 ;border-bottom:2px solid black; font-weight: bold; padding: 5px;">
                    <%= totalAmountInWords %>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="" style="margin: 5px 0px 0px 0px; padding: 5px;">
                    <p style="margin: 0px 0px 60px 0px; font-style: italic; font-weight: bold;">
                      For: J.M. INDUSTRIES</p>
                    <p style="font-weight: bold;">Authorised Signatory</p>
                    <p>Declaration: We declare that this invoice shows the actual price of the goods
                      described and that all particulars are true and correct</p>

                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </td>
      </tr>

    </tbody>
  </table>

</body>

</html>